@font-face{
  font-family: 'ArialRegular';
  font-weight: 400;
  font-style: normal;
  src: local('ArialRegular'),
       url('../fonts/ArialRegular.woff2') format('woff2'),
       url('../fonts/ArialRegular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'ArialBold';
  font-weight: 700;
  font-style: normal;
  src: local('ArialBold'),
       url('../fonts/ArialBold.woff2') format('woff2'),
       url('../fonts/ArialBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto-Regular'),
       url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Roboto-Bold'),
       url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
}




